/* Basic Formatting */
* {
    max-width:480px;
        
} 

body{
    background-color: darkseagreen;
    font-family: 'Times New Roman', serif;
    font-size: 16px;
    text-align: left;
    padding-top: 75px;
}

h1, h2, h3, h4, h5, h6 {
    font-family:'Lithos Pro Regular', sans-serif;
    text-align: left;
    padding-left: 12px;
}   
		
h1 {
    font-size: 2em;
}
			
h2 {
    font-size: 1.5em;
    
}
			
h3 {
    font-size: 1.25em;
    clear: left;
}

h4 {
     font-size: 1em;
}

p {
    padding-left: 1em;
}

div {
   clear: left; 
}

button {
    margin-left: 0em;
}

hr{
    color:black;
}

.inTextLink {
    text-decoration:none;
    color:navy;
    
}

input {
    margin-left: 1em;
    width: 400px;
}

textarea{
    height: auto;
    resize: none; 
}

/* top banner */

	#topBanner {
		display:flex;
		flex-wrap:nowrap;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		
		background-color: cornflowerblue;
		position: fixed;
		top: 0;
		width: 100%;
        z-index:1000;
	}
	
/* main menu */
		
    .hamburger {
		margin-left: 0em;
    }
	
	.filler {
        color: black;
	}
	
	.hamNav { 
        list-style: none; 
        padding-left: 0;
		display:none;
       }
    
	.hamNav.responsive {
        display: flex;
        flex-direction: column;
	}
	
	.hamNav.responsive li {
        width: 100%;
        margin-left:auto;
        font-size: 1em;
        font-family: sans-serif;
        padding-top: 0.5em;

    }

    .hamNav.responsive li button {
        background-color:darkgreen;
        color:chartreuse;
        text-align: left;

    }
       
	.hamNav.responsive li a {
		text-align: center;
        text-decoration:none;
        color: darkblue;
        transition: 1s;
	}	
	
    .hamNav.responsive li a:hover {
       font-size: 1.5em;
        text-decoration: underline;
        color: aqua;
    }
       
    .hamNav.responsive li.active a{
 
    }


/* author menu */

	.writerButton {
		float:right;
	}

    .authorNav {	
		padding-top: 1em;
		right: 0;
		clear:right;
        list-style: none; 
        padding-left: 0;
		display:none;
    }
    
	.authorNav.responsive {
        display: flex;
        flex-direction: column;
	}
	
	.authorNav.responsive li {
        width: 100%;
        margin:auto;
        font-size: 1em;
		margin-right: 0;
        font-family: sans-serif;
        padding-top: 0.5em;
        text-align: right;
    }
       
	.authorNav.responsive li a {
        text-decoration:none;
        color: darkblue;
        transition: 1s;
	}	
	
    .authorNav.responsive li a:hover {
        font-size: 1.5em;
        text-decoration: underline;
        color: aqua;
    }
       
    .authorNav.responsive li.active a{
 
    }


/* fantasy menu */

.arrow_down {
    float:left;
    background-color:darkgreen;
	margin-left: 1em;
}

.spin {
    transform: rotate(180deg);
    animation-name: spinOpen;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes spinOpen {
			0%   {transform:rotate(0deg);}
			33%  {transform:rotate(60deg);}
			66%  {transform:rotate(120deg);}
			100% {transform:rotate(180deg);}
}

.fantasyMain {
    display:none;
}

.saveButton{
    margin-left:1em;
    width: 200px;
    height: 2em;
    background-color: darkgreen;
    color:palegreen;
    position: relative;
    transition: width 2s, height 2s;
    transition-timing-function: ease-in;
    
}

.saveButton:hover {
    width: 300px;
    height: 3em;
}

.slideButton{
    animation-name: screenSlide;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

.delButton{
    margin-left:1em;
    width: 200px;
    height: 2em;
    background-color: palegreen;
    color:darkgreen;
    position: relative;
    transition: width 2s, height 2s;
    transition-timing-function: ease-out;
}

.delButton:hover{
    width: 300px;
    height: 3em;
}

.slideDelButton{
    animation-name: delScreenSlide;
    animation-duration: 2s;
    animation-iteration-count: 2;
    animation-direction: reverse;
}

@keyframes screenSlide {
			0%   {left:0px;}
			25%  {left:60px;}
			50%  {left:120px;}
			75%  {left:200px;}
			100% {left:0px;}
		}

@keyframes delScreenSlide {
			0%   {left:0px;}
			25%  {left:60px;}
			50%  {left:120px;}
			75%  {left:200px;}
			100% {left:0px;}
		}

.fantasyMain.responsive {
    display: block;
    animation-name: titleOpen;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes titleOpen {
			0%   {background-color: black;}
			33%  {background-color: darkgreen;}
			66%  {background-color: darkolivegreen;}
			100% {background-color: darkseagreen;}
}

.fantasyChar{
    display:none;
}

.fantasyChar.responsive {
    display: block;
    animation-name: charOpen;
    animation-duration: 2s;
    animation-iteration-count: 1;
    
}

@keyframes charOpen {
			0%   {background-color: black;}
			33%  {background-color: darkgreen;}
			66%  {background-color: darkolivegreen;}
			100% {background-color: darkseagreen;}
		}

.fantasyOrg {
    display:none;
}

.fantasyOrg.responsive {
    display: block;
    animation-name: orgOpen;
    animation-duration: 2s;
    animation-iteration-count: 1;
    
}

@keyframes orgOpen {
			0%   {background-color: black;}
			33%  {background-color: darkgreen;}
			66%  {background-color: darkolivegreen;}
			100% {background-color: darkseagreen;}
		}

.fantasyMag{
    display:none;
}

.fantasyMag.responsive {
    display: block;
    animation-name: magOpen;
    animation-duration: 2s;
    animation-iteration-count: 1;
    
}

@keyframes magOpen {
			0%   {background-color: black;}
			33%  {background-color: darkgreen;}
			66%  {background-color: darkolivegreen;}
			100% {background-color: darkseagreen;}
		}

.fantasyGeo{
    display:none;
}

.fantasyGeo.responsive {
    display: block;
    animation-name: geoOpen;
    animation-duration: 2s;
    animation-iteration-count: 1;
    
}

@keyframes geoOpen {
			0%   {background-color: black;}
			33%  {background-color: darkgreen;}
			66%  {background-color: darkolivegreen;}
			100% {background-color: darkseagreen;}
}

.fantasyCities{
    display:none;
}

.fantasyCities.responsive {
    display: block;
    animation-name: cityOpen;
    animation-duration: 2s;
    animation-iteration-count: 1;
    
}

@keyframes cityOpen {
			0%   {background-color: black;}
			33%  {background-color: darkgreen;}
			66%  {background-color: darkolivegreen;}
			100% {background-color: darkseagreen;}
		}

#charImg {
    margin-left: 2em;
}

#orgImg {
    margin-left: 2em;
}

#magImg {
    margin-left: 2em;
}

#geoImg {
    margin-left: 2em;
}

#titleSub {
    margin-left: 1em; 
}

/* Personal Notes Menu */

.noteTrans {
    transform: scaleX(1.0);
    transform: scaleY(1.0);
    transform: translate(0px, 0px);
    animation-name: transOpen;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes transOpen {
			0%   {transform: scaleX(1.0) scaleY(1.0)
            translate(10px, 10px);
            }
			33%  {transform: scaleX(1.25) scaleY(1.25) translate(20px, 20px);}
			66%  {transform: scaleX(1.5) scaleY(1.5) translate(10px, 10px);}
			100% {transform: scaleX(1.0)  scaleY(1.0) translate(0px, 0px);}
}

.notes {
    display:none;
}

.notes.responsive {
    display: block;
    animation-name: noteOpen;
    animation-duration: 2s;
}

.noteList {
    display:none;
}

.noteList.responsive {
    display: block;
    animation-name: noteOpen;
    animation-duration: 2s;
}

@keyframes noteOpen {
    0%   {background-color: black;}
    33%  {background-color: darkgreen;}
    66%  {background-color: darkolivegreen;}
    100% {background-color: darkseagreen;}
}

.notes#notesBot {
    margin-left: 2em;
}

#notesDel{
    width: 200px;
}

#clearAll{
    width: 200px;
}

/* Anime CSS */

.research {
    display:none;
}

.research.responsive {
    display: block;
    animation-name: noteOpen;
    animation-duration: 2s;
}

/* footer menu */

footer {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: cornflowerblue;
}

#footerMenu{
    display:flex;
    flex-wrap:nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    
    top: 0;
    width: 100%;
}

.footMenuBut {
    background-color:darkgreen;
    color:chartreuse;
    text-align: left;
}



